.button {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #1e58ff;
  color: #1e58ff;
  cursor: pointer;
  margin-right: 5px;
  transition: 0.2s ease-out all;

  &:hover {
    background: #1e58ff;
    color: #fff;
  }
}

.secondary {
  @extend .button;

  width: auto;
  background-color: #1e58ff;
  color: white;
  font-weight: 700;
  font-size: 0.8em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: transparent;
    color: #1e58ff;
  }
}
