.wrapper {
  margin-left: 80px;
  padding: 0;
  .navItem {
    display: inline-block;
    margin-right: 50px;
    list-style: none;

    &Link,
    p {
      text-decoration: none;
      color: #818181;
      font-size: 0.8em;
      margin-top: 0;
      margin-bottom: 0;

      &Active {
        font-weight: 700;
      }
    }
  }
  .navItem_logged {
    margin-left: auto;
    p {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    margin-left: 25px;
    .navItem {
      margin-right: 20px;
    }
  }
}
