.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  .logo {
    width: 120px;
  }
  .buttons {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-wrap: wrap;
    padding: 10px 20px;
    .buttons {
      margin-left: unset;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    justify-content: center;
  }
}
