.filters {
  display: block;
  background-color: #ff8200;
  margin-bottom: 20px;
  .singleFilter {
    padding: 20px;
    color: #fff;
    input {
      margin-left: 10px;
    }
  }
}

.noItems {
  font-size: 1.2em;
  color: darkgrey;
  display: block;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;
  text-align: center;
}
